<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center">Welcome to Gregslist!</h1>
    </div>
    <div class="col-12 d-flex justify-content-center">
      <div class="text-center m-1">
        <a href="#/cars">
          <button class="btn btn-success fs-4">Cars 🏎️</button>
        </a>
      </div>
      <div class="text-center m-1">
        <a href="#/houses">
          <button class="btn btn-success fs-4">Homes ⛺</button>
        </a>
      </div>
    </div>
  </div>
</div>