<section class="container">
  <div class="row">
    <div class="col-12 d-flex justify-content-between my-3">
      <h1>House Listings</h1>
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Make New Listing
      </button>
    </div>
    <div id="houseListings" class="col-12">
    </div>
  </div>
  </div>
</section>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Listing Submission Form</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="addHouse" class="row g-3">
          <div class="col-md-3">
            <label for="bedroomQuantity" class="form-label">Bedroom #</label>
            <input type="text" class="form-control" name="bedroomQuantity" id="bedroomQuantity">
          </div>
          <div class="col-md-3">
            <label for="bathroomQuantity" class="form-label">Bathroom #</label>
            <input type="text" class="form-control" name="bathroomQuantity" id="bathroomQuantity">
          </div>
          <div class="col-md-2">
            <label for="levels" class="form-label">Stories #</label>
            <input type="text" class="form-control" name="levels" id="levels">
          </div>
          <div class="col-md-4">
            <label for="year" class="form-label">Year of Construction</label>
            <input type="text" class="form-control" name="year" id="year">
          </div>
          <div class="col-md-6">
            <label for="price" class="form-label">Asking Price</label>
            <input type="text" class="form-control" name="price" id="price">
          </div>
          <div class="col-md-6">
            <label for="imgUrl" class="form-label">Image URL</label>
            <input type="text" class="form-control" id="imgUrl" name="imgUrl">
          </div>
          <div class="col-12">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control no-resize" id="description" name="description" rows="5"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button for="addHouse" type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</div>